html, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*img {
	width: 50%;
	height: 100%;
	object-fit: cover;
}*/

h1 {
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
	margin-top: 15px;
	color: #c90c09;
}

h3 {
	font-family: 'Tahoma', sans-serif;
	margin: 30px;
	font-weight: 10;
	font-size: 1.2em;
}

#text-box {
	/*position: relative;*/
}

#back {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 15px;
}

#frame {
	width: 900px;
	height: 266px;
	margin: auto;
	margin-top: 70px;
	position: relative;
}

#couplet1, #couplet2 {
	width: 576px;
	height: 324px;
	position: absolute;
	z-index: 2;
	top: -33px;
	overflow: hidden;
}

#couplet1 {
	left: -230px;
}

#couplet1 img, #couplet2 img {
	transition: transform .5s ease-in-out 0s;
}

#couplet1 img:hover, #couplet2 img:hover {
	transform: translate3d(0px, -330px, 0px);
}

#couplet2 {
	right: -215px;
}

.couplet {
	background: transparent;
	width: 576px;
	height: 324px;
}

.static-tiger {
	position: absolute;
	background: transparent;
	width: 900px;
	height: 266px;
	z-index: 1;
}

.active-tiger {
	width: 900px;
	height: 266px;
	z-index: 0;
}

.static-tiger:hover {
	opacity: 0;
}

.single-letter, .o {
	width: 110px;
	height: 110px;
	position: absolute;
	z-index: 3;
	top: 70px;
}

.grouped-letters {
	width: 258px;
	height: 145px;
	position: absolute;
	z-index: 3;
	top: 57px;
}

#g {
	position: absolute;
	left: 90px;
}

#o1 {
	position: absolute;
	left: 185px;
}

#o2 {
	position: absolute;
	left: 280px;
}

#gle {
	position: absolute;
	z-index: 3;
	right: 369px;
}

.o:hover {
	transform: rotate(360deg);
	transition: all 1s ease-in-out 0s;
}

/*@media screen and (max-width: 800px) {
  .active-tiger, .static-tiger, #frame, .couplet, .single-letter, .grouped-letters, .o {
  	width: 50%;
  	height: 50%;
  }

  #couplet1, #couplet2 {
  	width: 32px;
		height: 121px;
		top: -15px;
  }
}*/