html, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: #ebe9cc;
}

img {
	width: 50%;
	height: 100%;
	object-fit: cover;
}

h1 {
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
	color: black;
	margin-top: 15px;
	background: #7fadeb;
}

h3 {
	font-family: 'Trebuchet MS', sans-serif;
	color: black;
	margin: 10px;
}

@media screen and (max-width: 800px) {
  div.text-box, img {
    width: 100%; 
  }
  div.text-box {
  	overflow: scroll;
  }
}

.text-box {
	width: 50%;
	height: 100%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

#title-bar {
	width: 100%;
	height: 50px;
}